.container {
  display: flex;
  height: 928px;
  max-width: 1408px;
  padding: var(--spacing-4, 16px) 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-8, 32px);
  align-self: stretch;
}

.title {
  display: flex;
  align-items: center;
  gap: var(--spacing-4, 16px);
  margin-left: 48px;
}

.title p {
  padding-left: 16px;
  color: #171717;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}

.title img {
  width: 24px;
  height: 24px;
}

.containerListas {
  width: 100%; /* Ajusta el ancho según sea necesario */
  overflow-x: auto; /* Habilita el scroll horizontal */
  padding-left: 50px; /* Espacio a la izquierda */
}

.scrollContainer {
  display: flex;
  align-items: flex-start;
  gap: 32px; /* Espacio entre las listas */
  width: max-content; /* Ancho máximo */
}